* {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

a {
  text-decoration: none;
}

table {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}


form {
  text-align: center;
  border: 1px solid black;
  width: 200px
}